.checkout-product {
    background-color: #222222;
    color: lightgrey;
    height: 200px;
    width: 400px;
    display: flex;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 5px;
}

.checkout-image {
    height: 100%;
    width: 60%;
    display: flex;
    object-fit: fill;
    border-radius: 15px;
    padding: 30px;
}

.checkout-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.checkout-info > button {
    max-width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    min-height: 55px;
    background-color: darkred;
    color: lightgrey;
}

.checkout-info > button:hover {
    background-color: red;
}

img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 520px) {
    .checkout-product {
        width: 520px;
    }
  }