.checkout-product {
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    width: max-content;
    display: flex;
    justify-content: right;
}

.cp-image {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    margin-right: 30px;
}