.header { 
    padding: 5px;  
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 30px;
    width: 100%;
  }
  
.header__section1 {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .header__section2 {
    width: 70%;
    display: flex;
    align-items: center;
  }
  
  .header__section2 > input {
    height: 25px;
    border-radius: 5px;
    width: 100%;
    min-width: 100px;
  }

  .search-icon {
    background-color: darkorange;
    color: black;
    font-weight: bold;
    border-radius: 5px;
  }

  .header__section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .links {
    line-height: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.shop-icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.shop-icon:hover {
  color: darkorange;
}

.link-text {
  min-width: 70px;
}

.store-icon:hover {
  color: darkgreen;
}