.home-image {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.first-row, .second-row, .third-row {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 520px) {
    .products-div {
        width: 520px;
    }
}