.product {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #222222;
    margin: 20px;
    color: lightgrey;
    line-height: 25px;
}

.product__images {
    min-height: 70px;
    min-width: 90px;
    height: 50%;
    object-fit: cover;
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
}

.product__info {
    font-size: larger;
}

.product > button {
    width: 50%;
    min-height: 50px;
    height: 30px;
    margin: 10px auto;
    background-color: black;   
    color: lightgray;
    border-radius: 5px;
    font-size: 12px;
    font-style: oblique;
}

.product > button:hover {
    background-color: darkgreen;
}
