.product__images {
    min-height: 70px;
    min-width: 90px;
    height: 50%;
    object-fit: cover;
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
}

.product {
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    margin: 20px;
}

.product > button {
    width: 50%;
    min-height: 50px;
    height: 30px;
    margin: 10px auto;
    background-color: darkslategray;   
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-style: oblique;
}
