.subtotal {
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
    background-color: darkgray;
    width: 200px;
}

.subtotal > button {
    margin-top: 20px;
    background-color: darkslategray;
    padding: 5px;
    border-radius: 5px;
    color: darkgray;
    font-style: italic;
}