.subtotal {
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222222;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.subtotal > button {
    margin-top: 20px;
    background-color: darkslategray;
    padding: 5px;
    border-radius: 5px;
    color: darkgray;
    font-style: italic;
}